<launch>

    <node name="odg_tip_finder_node" pkg="box_therapy" type="tip_finder_node" required="true" output="screen" />
    <node name="republish_geometry" pkg="box_therapy" type="republish_geom_node" required="true" output="screen" />

  <!-- local publishers of republished compressed-transported images from glass -->

    <node name="local_scene_compressed_to_raw" type="republish" pkg="image_transport" output="screen" args="compressed in:=/ball_mover/camera/image raw out:=/ball_mover/camera/image" />
    <node name="warped_scene_raw_to_compressed" type="republish" pkg="image_transport" output="screen" args="raw in:=/ball_mover/warped_image compressed out:=/ball_mover/warped_compressed" />
</launch>
